.header{
    width: 100%;
    background: url('../image/header/bg.jpg') no-repeat bottom center;
    background-size: cover;
    padding-top:60px;
    min-height: 900px;
    .container{
        padding:0px 85px;
        display: flex;
    }
    &__left{
        width:100%;
        max-width:630px;
    }
    &__title{
        font-size: 32px;
        font-weight: 800;
        margin: 0;
        margin-bottom: 25px;
        max-width:500px;
    }
    &__text{
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 70px;
        font-weight: 400;
        max-width:500px;
    }
    &__items{
        margin-left:20px;
    }
    &__item{
        font-weight: bold;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        font-size:18px;
        max-width:350px;
        img{
            margin-right: 20px;
        }
        span{
            font-weight: bold;
        }
    }
    &__right{

        width: 100%;
        max-width: 330px;
        padding-left: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__form{
       
    }
    &__time{

    }
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        font-size:32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
        span{
            font-size:21px;
        }
    }
    &__old-price{
        font-size: 21px;
        text-decoration: line-through;
    }
    &__price{
        font-size: 30px;
        margin-bottom: 40px;
    }
    input{
        width:300px;
        padding:10px 0px 10px 20px;
        
        border: 1px solid #dd0a00;
        background: none;
        font-size: 16px;
        border-radius: 20px;
        margin-bottom: 15px;
        outline: none;
        &:focus{
            border-color: #EE5D4E;
        }
    }
    &__btn{
        margin-top: 15px;
        outline: none;
        margin-bottom: 40px;
        padding: 14px 43px;
        font-size:16px;
        border-radius: 50px;
        color:#fff;
        background: #eb3b29;
        text-transform: uppercase;
        border:none;
        transition: all .3s;
        font-weight: bold;
        text-shadow: 0 0 5px rgba(0,0,0,.35);
        cursor: pointer;

        &:hover{
            background: #EE5D4E;
        }
        
    }
}

.time{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    &__items{
        display: flex;
        
        align-items: center;
    }
    &__item{
        margin-right: 8px;
        display: flex;
        flex-direction: column; 
        align-items: center;
        
        p{
            margin-top:20px;
        }
    }
    &__wrap-numb{
        display: flex;
        span{
            font-size:30px;
            font-weight: bold;
            padding: 6px 11px;
            background: #000;
            border-radius: 5px;
            color:#fff;
            margin-right: 5px;
            &:last-child{
                margin-right: 0px;
            }
        }
        
    }
    &__text{
        margin-top:15px;
    }
}



@media (max-width:991px){
    .header{
        background: none;
        .container{
            flex-direction: column;
            align-items: center;
            padding: 0 15px;
        }
        &__left{
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width:100%;
            margin-bottom: 50px;
        }
        &__title{
            max-width:100%;
            text-align: center;
        }
        &__text{
            max-width:100%;
            text-align: center;
            
        }
        &__items{
            margin-left: 0;
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        &__item{
            max-width:100%;
        }

        &__right{
            padding-left: 0px;
        }
    }
}