@font-face {
  font-family: 'Gilroy';
  src: url("../font/Gilroy-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../font/Gilroy-Bold.ttf");
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Gilroy', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .container {
    padding: 0px 15px;
  }
}

.title-block {
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .15em;
}

.title-section {
  width: 100%;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #eb3b29;
  margin-bottom: 25px;
  letter-spacing: .15em;
}

.title-section i {
  position: absolute;
  top: 0;
  left: -130px;
  font-style: normal;
  letter-spacing: .15em;
}

.title-section::before {
  content: '';
  position: absolute;
  left: -95px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 73px;
  height: 1px;
  background-color: #d1d1d1;
}

@media (max-width: 991px) {
  .title-section i {
    position: inherit;
    margin-right: 10px;
    left: 0;
  }
  .title-section::before {
    display: none;
  }
}

.header {
  width: 100%;
  background: url("../image/header/bg.jpg") no-repeat bottom center;
  background-size: cover;
  padding-top: 60px;
  min-height: 900px;
}

.header .container {
  padding: 0px 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__left {
  width: 100%;
  max-width: 630px;
}

.header__title {
  font-size: 32px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 25px;
  max-width: 500px;
}

.header__text {
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 70px;
  font-weight: 400;
  max-width: 500px;
}

.header__items {
  margin-left: 20px;
}

.header__item {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  font-size: 18px;
  max-width: 350px;
}

.header__item img {
  margin-right: 20px;
}

.header__item span {
  font-weight: bold;
}

.header__right {
  width: 100%;
  max-width: 330px;
  padding-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.form__title span {
  font-size: 21px;
}

.form__old-price {
  font-size: 21px;
  text-decoration: line-through;
}

.form__price {
  font-size: 30px;
  margin-bottom: 40px;
}

.form input {
  width: 300px;
  padding: 10px 0px 10px 20px;
  border: 1px solid #dd0a00;
  background: none;
  font-size: 16px;
  border-radius: 20px;
  margin-bottom: 15px;
  outline: none;
}

.form input:focus {
  border-color: #EE5D4E;
}

.form__btn {
  margin-top: 15px;
  outline: none;
  margin-bottom: 40px;
  padding: 14px 43px;
  font-size: 16px;
  border-radius: 50px;
  color: #fff;
  background: #eb3b29;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.form__btn:hover {
  background: #EE5D4E;
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.time__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time__item {
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time__item p {
  margin-top: 20px;
}

.time__wrap-numb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.time__wrap-numb span {
  font-size: 30px;
  font-weight: bold;
  padding: 6px 11px;
  background: #000;
  border-radius: 5px;
  color: #fff;
  margin-right: 5px;
}

.time__wrap-numb span:last-child {
  margin-right: 0px;
}

.time__text {
  margin-top: 15px;
}

@media (max-width: 991px) {
  .header {
    background: none;
  }
  .header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 15px;
  }
  .header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    margin-bottom: 50px;
  }
  .header__title {
    max-width: 100%;
    text-align: center;
  }
  .header__text {
    max-width: 100%;
    text-align: center;
  }
  .header__items {
    margin-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__item {
    max-width: 100%;
  }
  .header__right {
    padding-left: 0px;
  }
}

.video {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.video__wrap {
  position: relative;
  z-index: 1;
}

.video__wrap::before {
  content: '';
  position: absolute;
  bottom: -70px;
  left: -90px;
  width: 205px;
  height: 205px;
  z-index: -1;
  background: url("../image/video/dots.png") no-repeat center center;
  background-size: cover;
}

.video__wrap::after {
  content: '';
  position: absolute;
  top: -70px;
  right: -90px;
  width: 205px;
  height: 205px;
  z-index: -1;
  background: url("../image/video/dots.png") no-repeat center center;
  background-size: cover;
}

.video__wrap iframe {
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1199px) {
  .video__wrap {
    padding: 50px 10px 0px 10px;
  }
  .video__wrap iframe {
    max-width: 100%;
    height: 500px;
  }
  .video__wrap::before {
    display: none;
  }
  .video__wrap::after {
    display: none;
  }
}

.advantage {
  padding: 80px 50px 40px;
}

.advantage .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage__title-section {
  max-width: 80%;
}

.advantage__title {
  width: 80%;
  margin-bottom: 70px;
  text-align: left;
}

.advantage__items {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantage__item {
  width: 300px;
  margin-bottom: 40px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage__image {
  min-width: 50px;
  min-height: 50px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantage__image img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (max-width: 879px) {
  .advantage {
    padding: 80px 0 40px;
  }
  .advantage__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */